.table img {
  max-width: 100%; /* Assurez-vous que les images ne dépassent pas la largeur de leur conteneur */
  height: auto; /* Permet aux images de conserver leur rapport hauteur/largeur */
  display: block; /* Pour éviter les espaces vides sous les images inline */
  margin: 0 auto; /* Centrer les images horizontalement si nécessaire */
  /* Autres styles spécifiques aux images à l'intérieur de .table */
}
  td{
    border: 2px solid black;
  }
  .logout {
display: flex;
justify-content: center;
  }
  .acheté {
    display: flex;
    justify-content: center;
  }
  .carprix {
    display: flex;
    flex-direction: column;
  }
  .tout {
    display: flex;
    flex-direction: row-reverse;
  }
  .ach {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .plusmoinsajout {
    display: flex;
    justify-content: center;
  }
  .del {
    display: flex;
    justify-content: center;
  }
  .prixtot {
    background-color: red;
  }
  .adroite {
    display: flex;
    justify-content: flex-end
    }
    .nbrprod {
      display: flex;
    }
    .gros {
      display: flex;
    }
    .marque {
      display: flex;
    }
    .xiaomi {
      display: flex;
    }
  