.table{
    display: flex;
    gap: 1px;
  }
  td{
    border: 2px solid black;
  }
  .carprix {
    display: flex;
    flex-direction: column;
  }
  .tout {
    display: flex;
    flex-direction: row-reverse;
  }
  .plusmoinsajout {
    display: flex;
    justify-content: center;
  }
  .del {
    display: flex;
    justify-content: center;
  }
  .prixtot {
    background-color: red;
  }
  .adroite {
    display: flex;
    justify-content: flex-end
    }
    .nbrprod {
      display: flex;
    }
    .gros {
      display: flex;
    }
    .marque {
      display: flex;
    }
    .xiaomi {
      display: flex;
    }
  