#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
:root {
  --background-color: #fff; /* Couleur de fond par défaut */
  --text-color: #333; /* Couleur du texte par défaut */
}
.logo {
  height: 6em;
  padding: 1.5em;
}
.nav {
  display: flex;
  height: 15vh;
  align-items: center;
  justify-content: space-around;
 gap: 20px;
} 
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.mapos {
  margin-top: 3rem;
  text-align: center;
}
.card {
  padding: 2em;
}
.tik {
  background-color: red;
}
.res {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
}
.cont {
  display: flex;
  align-items: center;
    justify-content: space-evenly;
  gap: 20px;
}


